<html>
<head><title>Language Rescue</title>

	<style>
	body { text-align: center }
	</style>
	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<!--link rel="stylesheet" type="text/css" href="app.css"-->
	
	<!--script type="text/javascript" src="js/angular.js"></script-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-route.js"></script>
	<!--script src="app.js" type="text/javascript"></script-->
	<script src="controllers/main-controller.js" type="text/javascript"></script>

</head>
<body ng-app="languageApp" ng-controller="MainController">
	<div class="jumbotron other-color white-text">
		<h1>Language Rescue</h1>
	</div>



	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" ng-click="setView('splashPageView')">Begin</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-center">
					<li class={{(view=='loginView')?'active':''}}><a ng-click="setView('loginView')">Login</a></li>
					<li class={{(view=='mainView')?'active':''}}><a ng-click="setView('mainView')">Database</a></li>
					<li class={{(view=='ourMissionView')?'active':''}}><a ng-click="setView('ourMissionView')">Our Mission</a></li>
					<li class={{(view=='aboutUsView')?'active':''}}><a ng-click="setView('aboutUsView')">About Us</a></li>
				</ul>

<!--
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
    </ul>-->

</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


<div ng-show="view=='ourMissionView'">
	<table align="center">
		<tr>
			<td>
				<h3>
					Our Mission
				</h3>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					A sad fact of life is that as our elders pass on they take with them all of the knowledge and experience they have attained during this life. Similarly, more and more the youth of this day and age are learning less about their traditional cultures and instead subscribe to modern global trends. This means that many traditions, cultures, and languages that have existed for generations are slowly being lost as time continues forward.
				</p>

				<p>
					Our goal with this application is to create a database for those languages that are too small for major translators to consider implementing. There are over 100 major languages and over 6000 spoken languages and dialects in the world. Each language is a product of the place and culture it originated, and many are spoken by groups that are smaller than 1000 people.
				</p>

				<p>
					With this database we hope that many of these midlevel and smaller languages will be logged and recorded for future generations so they can understand a bit more about their ancestors and the way they communicated and saw the world. We also hope to make a service that is easy to use and search so that those who are living among these smaller groups will be able to increase their own language skills and share thier knowledge.
				</p>

				<p>
					Please join our site and start contributing your knowledge of any language you would like to help us preserve.
				</p>

				<img src="images/map_language_extinction.jpg" alt="Extinction Map" />
			</td>
		</tr>
	</table>
</div>

<div ng-show="view=='aboutUsView'">
	<tr>
		<td>                    
		</td>
		<td style="text-align:center">
			<h2>
				About us
			</h2>

			<p>This website was made as a project for BYU CS360</p>


			<h2>Creators</h2>
			<p>Paul Soderquist - Computer Science</p>
			<p>Mitch Green - Computer Science emphasis Animation - Japanese</p>

			<h2>Webmaster</h2>
			<p>paulsoderquist3@gmail.com</p>

			<h2>Github</h2>
			<p>
				<a href="github.com/psoder3/language-rescue"> 
					github.com/psoder3/language-rescue
				</a> 
			</p>
		</td>
	</tr>
</div>

<div ng-show="view=='splashPageView'">
	<tr>
		<td>                    
		</td>
		<td style="text-align:center">
			<h3>
				Welcome to Operation: Language Rescue
			</h3>
		</td>
	</tr>
	<tr>
		<td>                    
		</td>
		<td style="text-align:center">
			<h4>
				Many small languages are in need of documentation! Do you accept this mission?
			</h4>
		</td>
	</tr>
	<a class="btn btn-primary btn-sm" role="button" ng-click="setView('mainView')">Get Started!</a>
	<tr>
		<td>                    
		</td>
		<td style="text-align:center">
			<h3>

				<img src="images/Inside_the_Batad_rice_terraces.jpg" class="img-responsive" alt="A view of a Batad farming community." />
			</h3>
		</td>
	</tr>
</div>

<div ng-show="view=='choosingLanguageView'">
	<tr>
		<td>					
		</td>
		<td style="text-align:right">
			<h3>
				Rescuer: {{user.username}} {{(user.username == 'Guest')? '' : ' | Contributions:'}} {{user.contributions}}      
				<a class="btn btn-primary btn-sm" role="button" ng-click="logout()">Logout</a>
			</h3>
		</td>
	</tr>
	<input style="font-size:24" type="text" ng-model="enteredLanguage" placeholder = "search languages">
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<th>
					Language
				</th>
				<th>
					Number of Entries
				</th>
			</thead>
			<tbody>
				<tr valign="top" class="panel panel-default">
					<a ng-click ="setSelectedLanguage(l)" class="{{(l == selectedEntry)? 'list-group-item active' : 'list-group-item'}}" ng-repeat="l in languages.listed | filter:enteredLanguage | orderBy:'language_name' | limitTo:8">
						<!--div class="list-group" style="overflow-y: auto; height: 90%"-->
						<td>
							{{l.language_name}}
						</td>
						<td>
							{{l.numEntries}}
						</td>
					</a>
				</tr>

				<!--/div-->
			</tbody>
		</table>
	</div>
	<a ng-show="user.username != 'Guest'" "class="btn btn-primary btn-sm" role="button" ng-click="createLanguage()">Add Language</a>
</div>

<div ng-show="view=='mainView'">
	<div ng-show="successUpdate" class="alert alert-success" role="alert">Successfully updated entry!"</div>
	<table align="center">
		<tr>
			<td style="text-align:left">
			</td>
			<td style="text-align:right">
				<h3>
					Rescuer: {{user.username}} {{(user.username == 'Guest')? '' : ' | Contributions:'}} {{user.contributions}}      
					<a class="btn btn-primary btn-sm" role="button" ng-click="logout()">Logout</a>
				</h3>
			</td>
		</tr>					
		<tr>
			<td>
				<h3>
					<a class="btn btn-primary btn-sm" role="button" ng-click="chooseLanguage()">Choose Language</a>
				</h3>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					{{selectedLanguage.language_name}}
				</h3>
			</td>
			<td>
				<h3>
					Definition
				</h3>	
			</td>
		</tr>
		<tr valign = "top">
			<td>
				<input style="font-size:24" type="text" ng-model="currentEntry" placeholder = "search entries">
				<div class="list-group" style="overflow-y: auto; height: 90%">
					<a ng-click ="setSelectedEntry(e)" class="{{(e == selectedEntry)? 'list-group-item active' : 'list-group-item'}}"
					ng-repeat="e in entries.listed | filter:currentEntry | orderBy: 'term'|limitTo:8">{{e.term}}</a>
				</div>
			</td>
			<td>
				<textarea ng-show="!editing" rows="12"  style="font-size:24;" ng-readonly="!editing">{{selectedEntry.definition}}</textarea>
				<textarea ng-show="editing" rows="12"  style="font-size:24;" ng-readonly="!editing" ng-model="contribution">{{contribution}}</textarea>
			</td>
		</tr>
	</table>

	<a ng-show="!adding && !editing && user.username != 'Guest'" class="btn btn-primary btn-sm" role="button" ng-click="startEditing()">Edit</a>
	<a ng-show="!editing && !adding && user.username != 'Guest'" class="btn btn-primary btn-sm" role="button" ng-click="startAdding()">Add</a>
	<a ng-show="editing || adding" class="btn btn-primary btn-sm" role="button" ng-click="contribute()">Contribute</a>
	<a ng-show="editing || adding" class="btn btn-primary btn-sm" role="button" ng-click="cancel()">Cancel</a>
	<a ng-show="editing" class="btn btn-primary btn-sm" role="button" ng-click="flag()">Flag Abuse</a>

</div>

<div ng-show="view=='loginView'">
	<table align="center">
		<tr>
			<td>
				<h3>
					<a class="btn btn-primary btn-sm" role="button" ng-click="nologin()">Continue as Guest</a>
				</h3>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Username
				</h3>
				<input style="font-size:20" type="text" ng-model="user.username" placeholder = "username" required>

				<div ng-show="badUsername" class="alert alert-danger" role="alert">Username does not exist</div>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Password
				</h3>	
				<input style="font-size:20" type="password" ng-model="user.password" placeholder = "password" required>

			</td>
		</tr>
		<tr valign = "top">
			<td>
				<div ng-show="badPassword" class="alert alert-danger" role="alert">Password is incorrect</div>
			</td>
		</tr>

		<tr>
			<td>
				<h3>
					<a class="btn btn-primary btn-sm" role="button" ng-click="login()">Login</a>
				</h3>
			</td>
			<td>
			</td>
		</tr>

		<td>
			<h3>
				<a class="btn btn-primary btn-sm" role="button" ng-click="createAccount()">Create Account?</a>
			</h3>
		</td>
	</table>
</div>

<div ng-show="view=='createView'">
	<table align="center">
		<tr>
			<td>
				<h3>
					Username
				</h3>	
				<input style="font-size:20" type="text" ng-model="newUser" ng-minlength=5 placeholder = "Must be 5 characters" required>

				<div ng-show="badCreateUsername" class="alert alert-danger" role="alert">Username is too short</div>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Password
				</h3>	
				<input style="font-size:20" type="text" ng-model="newPassword" ng-minlength=6 placeholder = "Must be 6 characters" required>
				<div ng-show="passwordTooShort" class="alert alert-danger" role="alert">Password is too short</div>	
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Confirm Password
				</h3>	
				<input style="font-size:20" type="text" ng-model="confirmPassword" ng-minlength=5 placeholder = "Passwords must match" required>
				<div ng-show="passwordNotMatch" class="alert alert-danger" role="alert">Passwords do not match</div>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Email Address
				</h3>	
				<input type = "email" style="font-size:20" type="text" ng-model="email" placeholder = "Enter a valid email please" required>
			</td>
		</tr>				
		<tr valign = "top">
			<td>
			</td>
		</tr>

		<td>
			<h3>
				<a class="btn btn-primary btn-sm" role="button" ng-click="addUser()">Create Account</a>
				<a class="btn btn-primary btn-sm" role="button" ng-click="cancelCreate()">Cancel</a>
			</h3>
		</td>
	</table>
</div>

<div ng-show="view=='addingEntryView'">
	<table align="center">
		<tr>
			<td>
				Add a new entry to {{selectedLanguage.language_name}} language!
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Term/Phrase:
				</h3>
				<input style="font-size:20" type="text" ng-model="entryTerm" placeholder = "enter term" required>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Definition:
				</h3>	
				<input style="font-size:20" type="text" ng-model="entryDefinition" placeholder = "enter definition" required>

			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Part of speech:
				</h3>	
				<input style="font-size:20" type="text" ng-model="entryType" placeholder = "enter type" required>

			</td>
		</tr>
		<tr valign = "top">
			<td>
			</td>
		</tr>

		<tr>
			<td>
				<h3>
					<a class="btn btn-primary btn-sm" role="button" ng-click="contributeEntry()">Add Entry</a>
					<a class="btn btn-primary btn-sm" role="button" ng-click="cancel()">Cancel</a>
				</h3>
			</td>
			<td>
			</td>
		</tr>


	</table>
</div>

<div ng-show="view=='addingLanguageView'">
	<table align="center">
		<tr>
			<td>
				Add a new language to our database!
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<h3>
					Language Name:
				</h3>
				<input style="font-size:20" type="text" ng-model="languageBeingAdded" placeholder = "enter language" required>
			</td>
		</tr>

		<tr valign = "top">
			<td>
			</td>
		</tr>

		<tr>
			<td>
				<h3>
					<a class="btn btn-primary btn-sm" role="button" ng-click="addLanguage()">Add Language</a>
					<a class="btn btn-primary btn-sm" role="button" ng-click="chooseLanguage()">Cancel</a>
				</h3>
			</td>
			<td>
			</td>
		</tr>


	</table>
</div>



<br>
</body>	
</html>
