<html>
<head>
   <title>248th Ward Community Library</title>
   <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
   <script type="text/javascript" src="js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="css/library_bootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
    body { text-align: center;
    }
    .list-group {
        overflow-y:auto;
        overflow-x: scroll;
        max-width: 300px;
    }
    .page-header {
        padding-bottom: 3px;
        margin: 5px 0 10px;
    }
    .vertical-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
    }
    .vertical-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
    }
    .movieTitle {
	font-size: 14pt;
	color: black;
    }
    .lenderName {
	color: #cccccc;
    }
    .movieSpan {
	vertical-align:top;
	text-align: center;
	display: inline-block;
	width: 200px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
    }

}
   </style>
</link>
<!--link rel="stylesheet" type="text/css" href="app.css"-->
<!--script type="text/javascript" src="js/angular.js"></script-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="js/angular-route.js"></script>
<script type="text/javascript" src="js/angular-ui-bootstrap-modal.js"></script>

<!--script src="app.js" type="text/javascript"></script-->
<script src="controllers/library-controller.js" type="text/javascript"></script>
</head>
<body ng-app="libraryApp" ng-controller="libraryController">
   <div class="page-header">
      <h3>248th Ward Community Library</h3>
   </div>
   <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" ng-click="setView('splashPageView')">Welcome</a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">

               <li class={{(view=='splashPageView')?'active':''}}><a ng-click="setView('splashPageView')">Add Movie</a></li>
		<li class={{(view=='mainView')?'active':''}}><a ng-click="setView('mainView')">Library</a></li>
		<li class={{(view=='catalogView')?'active':''}}><a ng-click="setView('catalogView')">Catalog View</a></li>
               <li class={{(view=='aboutView')?'active':''}}><a ng-click="setView('aboutView')">About</a></li>
            </ul>

</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<!------------------------------------------------------------------------------------------------------------------->


<div ng-show="view=='aboutView'">
   <tr>
      <td style="text-align:left">
         <h2>
            About
         </h2>
      </td>
   </tr>
   <tr>
      <td style="text-align:left">
        <p>
	This is just a way for members of our ward to keep track of what movies are available for borrowing amongst ourselves because Netflix, VidAngel, Hulu, etc. don't have a lot of the greatest movies.
        </p>
      </td>
   </tr>
</div>













<!------------------------------------------------------------------------------------------------------------------->







<div ng-show="successMovieEntry" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="hideAlert('successMovieEntry')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Successfully added movie to library!
</div>
<div ng-show="successMovieUpdate" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="hideAlert('successMovieUpdate')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Successfully updated movie in library!
</div>
<div ng-show="failedToEnter" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="hideAlert('failedToEnter')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Failed to add movie to library
</div>
<div ng-show="failedToUpdate" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="hideAlert('failedToUpdate')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Failed to update movie in library
</div>
<div ng-show="somethingWentWrong" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="hideAlert('somethingWentWrong')" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Something went wrong. Let Paul Soderquist know
</div>



<!-------------------------------------------------------------------------------------------------------------------->





<div ng-show="view=='splashPageView'">
<table align="center">
      <tr>
         <td>
            Add a movie to the library for people to borrow!
         </td>
         <td>
         </td>
      </tr>
      <tr>
         <td>
            <h3>

            </h3>
            <input class="form-control" style="font-size:20" type="text" ng-model="entryTitle" placeholder = "movie title" required>
         </td>
      </tr>
      <tr>
         <td>
            <h3>
            </h3>
            <input class="form-control" style="font-size:20" type="text" ng-model="entryOwner" placeholder = "your name" required>
         </td>
      </tr>
      <tr>
         <td>
            <h3>
            </h3>
		<textarea class="form-control" rows="5" id="additionalInfo" ng-model="additionalInfo" placeholder = "additional info (hint: the more info here, the more to search by. Example: Disney 1997 Danny DeVito Animated)"></textarea>
         </td>
      </tr>
      <tr valign = "top">
         <td>
         </td>
      </tr>
      <tr>
         <td>
            <h3>
               <a class="btn btn-danger btn-lg" role="button" ng-click="contributeEntry()">Add Movie</a>
               <a class="btn btn-danger btn-lg" role="button" ng-click="skip()">Skip</a>
            </h3>
         </td>
         <td>
         </td>
      </tr>
   </table>
</div>





<!------------------------------------------------------------------------------------------------------------------->




<div ng-show="view=='catalogView'">



   <!--div class="details-scroll-pane"-->
   <!-- Modal -->
 <div id="myModal" class="modal" role="dialog">
   <div class="modal-dialog">
        <div class="vertical-alignment-helper">
             <div class="modal-dialog vertical-align-center">
                   <!-- Modal content-->
                   <div class="modal-content">
                     <button type="button" class="close" data-dismiss="modal" style="padding:6">&times;</button>
                      <table align="center">

                         <tr valign = "top">
                           <td align = "center">
                             <h2>{{selectedEntry.title}}</h2>
                             {{selectedEntry.description}}
                           </td>
                         </tr>
                         <tr>
                           <td align = "center">
                             <div ng-show="selectedEntry.ownerName != null" align="center">
                               <br>
                               Owner:&nbsp<strong>{{selectedEntry.ownerName}}</strong>
                               <br>
                             </div>
                           </td>
                         </tr>

                         <tr>
                           <td align = "center">
                                <br>
                                 <a class="btn btn-danger btn-sm" role="button" ng-click="removeEntry()" data-dismiss="modal">Remove</a>
                                 <a class="btn btn-danger btn-sm" role="button" ng-click="editMovieEntry()" data-dismiss="modal">Edit</a>
                                 <br>
                                 <br>
                             </td>
                           </tr>
                      	</table>
                        <!--
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Modal Header</h4>
                     </div>
                     <div class="modal-body">
                       <p>Some text in the modal.</p>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                   -->
                   </div>
             </div>
           </div>
   </div>
 </div>
 
 
	<span class="movieSpan" ng-repeat="movie in entries.listed">
		<a ng-click ="openModal(movie)"><img src="{{movie.Poster}}" style="width: 200px; height: auto;">
	  <div class="movieTitle">{{ movie.Title }}</div></a>
	  <div class="lenderName">{{ movie.LenderName}}</div>
	</span>
 
 
</div>



<!------------------------------------------------------------------------------------------------------------------->




<div ng-show="view=='mainView'">



   <!--div class="details-scroll-pane"-->
   <!-- Modal -->
 <div id="myModal" class="modal" role="dialog">
   <div class="modal-dialog">
        <div class="vertical-alignment-helper">
             <div class="modal-dialog vertical-align-center">
                   <!-- Modal content-->
                   <div class="modal-content">
                     <button type="button" class="close" data-dismiss="modal" style="padding:6">&times;</button>
                      <table align="center">

                         <tr valign = "top">
                           <td align = "center">
                             <h2>{{selectedEntry.title}}</h2>
                             {{selectedEntry.description}}
                           </td>
                         </tr>
                         <tr>
                           <td align = "center">
                             <div ng-show="selectedEntry.ownerName != null" align="center">
                               <br>
                               Owner:&nbsp<strong>{{selectedEntry.ownerName}}</strong>
                               <br>
                             </div>
                           </td>
                         </tr>

                         <tr>
                           <td align = "center">
                                <br>
                                 <a class="btn btn-danger btn-sm" role="button" ng-click="removeEntry()" data-dismiss="modal">Remove</a>
                                 <a class="btn btn-danger btn-sm" role="button" ng-click="editMovieEntry()" data-dismiss="modal">Edit</a>
                                 <br>
                                 <br>
                             </td>
                           </tr>
                      	</table>
                        <!--
                     <div class="modal-header">
                       <button type="button" class="close" data-dismiss="modal">&times;</button>
                       <h4 class="modal-title">Modal Header</h4>
                     </div>
                     <div class="modal-body">
                       <p>Some text in the modal.</p>
                     </div>
                     <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                   -->
                   </div>
             </div>
           </div>
   </div>
 </div>


   <!--table ng-show="!editingMovieEntry && selectedEntry.ownerName != null" align="center">

     <tr valign = "top">
       <td align = "center">
         <h2>{{selectedEntry.title}}</h2>
         {{selectedEntry.description}}
       </td>
     </tr>
     <tr>
       <td align = "center">
         <div ng-show="selectedEntry.ownerName != null" align="center">
           <br>
           Owner:&nbsp<strong>{{selectedEntry.ownerName}}</strong>
           <br>
         </div>
       </td>
     </tr>

     <tr>
       <td align = "center">
             <a class="btn btn-danger btn-sm" role="button" ng-click="removeEntry()">Remove</a>
             <a class="btn btn-danger btn-sm" role="button" ng-click="editMovieEntry()">Edit</a>
             <br>
         </td>
       </tr>
  	</table-->
  <!--/div-->


    <table ng-show="editingMovieEntry == true" align="center">
      <tr>
         <td>
            <h3>

            </h3>
            <input class="form-control" style="font-size:20" type="text" ng-model="selectedEntry.title" placeholder = "movie title" required>
         </td>
      </tr>
      <tr>
         <td>
            <h3>
            </h3>
            <input class="form-control" style="font-size:20" type="text" ng-model="selectedEntry.ownerName" placeholder = "owner name" required>
         </td>
      </tr>
      <tr>
         <td>
            <h3>
            </h3>
      <textarea class="form-control" rows="5" id="additionalInfo" ng-model="selectedEntry.description" placeholder = "additional info (hint: the more info here, the more to search by. Example: Disney 1997 Danny DeVito Animated)"></textarea>
         </td>
      </tr>
      <tr>
        <td align="center">
          <a class="btn btn-danger btn-sm" role="button" ng-click="editContribution()">Save</a>
          <a class="btn btn-danger btn-sm" role="button" ng-click="cancelEdit()">Cancel</a>
          <br>
        </td>
      </tr>
    </table>

	   <table align="center" ng-show="!editingMovieEntry">
      <tr valign = "top">
		      <td>
            <input style="font-size:24" type="text" ng-model="currentEntry" placeholder = "search (title,category,etc.)">
            <br>
			<br>
            <div class="list-group" id="MediaListDiv">
               <a ng-click ="openModal(e)" class="{{(e == selectedEntry)? 'list-group-item active' : 'list-group-item'}}"
               ng-repeat="e in entries.listed | filter:currentEntry | orderBy: 'title'|limitTo:1000" ng-if="e.show_entry == 1"
               data-toggle="modal" data-target="#myModal">{{e.title}}</a>
            </div>
         </td>
         <td>

         </td>
	  </tr>
   </table>


</div>








<!------------------------------------------------------------------------------------------------------------------->











</body>
</html>
